@model HealthAdviceGroup.Models.Advice

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Advice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <!-- Display any errors or rejected inputs from the user-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Display name, input, and validation for the image file -->
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>

            <!-- Display name, input, and validation for the title -->
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <!-- Display name, input, and validation for the temperature -->
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>

            <!-- Display name, text area, and validation for the description -->
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <!-- Submit button to save the edited advice entry -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!-- Link to navigate back to the advice list -->
<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Include partial scripts for client-side validation -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
