@model HealthAdviceGroup.Models.Health

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Health</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Hidden fields not needed as userID and date shouldnt be edited -->
            <!-- Label, validation, and input for steps field -->
            <div class="form-group">
                <label asp-for="Steps" class="control-label"></label>
                <input asp-for="Steps" class="form-control" />
                <span asp-validation-for="Steps" class="text-danger"></span>
            </div>
            <!-- Label, validation, and input for calories field -->
            <div class="form-group">
                <label asp-for="Calories" class="control-label"></label>
                <input asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <!-- Label, validation, and input for water field -->
            <div class="form-group">
                <label asp-for="Water" class="control-label"></label>
                <input asp-for="Water" class="form-control" />
                <span asp-validation-for="Water" class="text-danger"></span>
            </div>
            <!-- Button to submit changes to entry -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
